*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
*.booproj
*.suo
Builds/
.vs/
.vscode/
.idea/
obj/
*.db
*.db.meta
*.orig
*.bak*

Builds/
Docs/html/

.sonarqube
Library
obj
Builds
Reports
Temp
AssetBundles/
